/*! BASIC STYLES MODIFIED */
body {
    font-family: $font-family-body-roboto;
    font-size: 1em;
    line-height: 2em;
    background: $background-img-bg;
    margin: 0;


}

main {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/*! NAVIGATION MODIFIED */
figure {
    @include figure-area ($background-img-logo);

}

nav {
    @include nav-area($nav-width, $nav-height);


    ul {

        list-style-type: none;
        margin-top: 95px;
    }

    ul li {

        display: inline;
        font-size: 0.8em;
        margin-right: 10px;
    }

    ul li a {
        color: $red;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
            color: $background;
        }
    }
}




/*! HEADER MODIFIED */
header {
    width: inherit;
    clear: both;
    text-align: center;
    padding-top: 40px;

    img {
        @include backImage('../dist/images/devices.png');
        max-width: 100%;
        height: auto;
    }

    h1 {
        @include header-titles ($red, 100, $header-size, 0, 0, 70px);

    }

    h2 {
        @include header-titles ($background, 900, $header-size, 1.5, 0, 70px);

    }

    h3 {
        @include header-titles ($grey, 400, $header-size, 2, 0, 50px);

    }
}