/*! BASIC STYLES MODIFIED */
body {
    font-family: $font-family-body-roboto;
    font-size: 1em;
    line-height: 2em;
    background: $background-img-bg;
    margin: 0;


}

main {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/*! NAVIGATION MODIFIED */
figure {
    width: 400px;
    height: 190px;
    background: $background-img-logo;
    float: left;
    display: block;
    margin: 0;
}

nav {
    width: 540px;
    height: 190px;
    float: left;
    text-align: right;

    ul {
      
        list-style-type: none;
        margin-top: 95px;
    }

    ul li {
     
        display: inline;
        font-size: 0.8em;
        margin-right: 10px;
    }

    ul li a {
        color: $red;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
            color: $background;
        }
    }
}




/*! HEADER MODIFIED */
header {
    width: inherit;
    clear: both;
    text-align: center;
    padding-top: 40px;

    img {
        @include backImage('../dist/images/devices.png');
        max-width: 100%;
        height: auto;
    }

    h1 {
        color: $red;
        font-weight: 100;
        font-size: $header-size;
        line-height: 0;
    }

    h2 {
        color: $background;
        font-weight: 900;
        font-size: $header-size - 1.5;
        line-height: 0;
        margin-bottom: 70px;
    }

    h3 {
        color: $grey;
        font-weight: 400;
        font-size: $header-size - 2;
        line-height: 0;
        margin-bottom: 50px;
    }
}