@mixin break($args...) {
    @if length($args)==1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    }

    @else {
        @media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
            @content;
        }
    }
}


@mixin figure-area ($image) {
    width: 400px;
    height: 190px;
    background: $image;
    float: left;
    display: block;
    margin: 0;
}

@mixin nav-area ($width, $height) {
    width: $width;
    height: $height;
    float: left;
    text-align: right;
}


@mixin header-titles ($color, $font-weight, $font-size, $font-size-diff, $line-height, $margin-bottom) {
    color: $color;
    font-weight: $font-weight;
    font-size: $header-size - $font-size-diff;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}


@mixin footer-area ($color, $color2) {
    width: 100%;
    height: 120px;
    background: $color;
    text-align: center;
    color: $color2;
    padding-top: 50px;
}

@mixin backImage($image, $height: 100vh) {
    background: linear-gradient(to bottom,
            $red,
            rgba(0, 0, 0, .7)),
        url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
}