$background: #FFF;
$red:#E65C43;
$grey: #666;
$peach:#F25C43;
$light-grey:#F5F6F6;
$dark-grey: #30353D;
$header-size: 4rem;
$nav-width: 540px;
$nav-height: 190px;

$font-family-body-roboto: 'Roboto',
sans-serif;

$background-img-bg:  url('../images/bg.gif') $background repeat-x;

$background-img-logo: url('../images/logo.png') no-repeat 0 50px;

$facebook: url('../images/social-media.png') 0 0;

$google: url('../images/social-media.png') -38px 0;

$wifi:url('../images/social-media.png') -76px 0;
$twitter:url('../images/social-media.png') -114px 0;